.title {
    color: #fff;
    font-family: "Comic Sans";
    display: inline-block;
    padding: 0.3em;

}

.title_head {
    background: linear-gradient(45deg, #3f9788, #C5FFFD);
    border-bottom: 1px solid #cfcfcf;
}

.title--strong {
    font-weight: 700;
}

.title--sub {
    font-weight: 300;
}

.card_movie {
    margin: 1.2em;
    -webkit-box-shadow: 9px 3px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 9px 3px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 9px 3px 5px 0px rgba(163, 163, 163, 1);
}
